comp -hvl questa
#rtlc -xrtl is default
#Delcare all XRTL modules to RTLS. These are the modules that will run on the emulator. 
rtlc -partition_module_xrtl ahb_lite_tb_interface
#rtlc -partition_module_xrtl ahb_lite_tb_sequencer
rtlc -partition_module_xrtl ahb_lite_dut_top
comp -platform D1S
comp -num_boards 1 
comp -top ahb_lite_dut_top
rtlc -questa_task_allowed
